:root {
  --max-width: 850px;
  --padding: 30px;
  --border-color: rgb(200, 200, 200);
  --success-color: rgb(6, 125, 98);
}

.main {
  max-width: var(--max-width);
  margin: 90px auto 100px;
  padding: 0 var(--padding);
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-info {
  margin-bottom: 3px;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  margin: 25px 0 50px;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.current-status {
  color: var(--success-color);
}

@media (max-width: 575px) {
  .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .progress-label {
    margin-bottom: 3px;
  }
}

.progress-bar-container {
  height: 25px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: green;
  border-radius: 50px;
  width: 50%;
}
