:root {
  --font-family: "Roboto", Arial, sans-serif;
  --text-color: rgb(33, 33, 33);
  --primary-bg-color: rgb(255, 216, 20);
  --primary-border-color: rgb(252, 210, 0);
  --secondary-bg-color: white;
  --secondary-border-color: rgb(213, 217, 217);
  --link-color: rgb(1, 124, 182);
  --link-hover-color: rgb(196, 80, 0);
  --focus-outline-color: rgb(255, 153, 0);
  --box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
}

p {
  margin: 0;
}

button,
input,
select {
  font-family: var(--font-family);
  cursor: pointer;
}

.button-primary {
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.button-primary:hover {
  background-color: rgb(247, 202, 0);
  border-color: rgb(242, 194, 0);
}

.button-primary:active {
  background: var(--primary-bg-color);
  border-color: var(--primary-border-color);
  box-shadow: none;
}

.button-secondary {
  color: var(--text-color);
  background: var(--secondary-bg-color);
  border: 1px solid var(--secondary-border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.button-secondary:hover {
  background-color: rgb(247, 250, 250);
}

.button-secondary:active {
  background-color: rgb(237, 253, 255);
  box-shadow: none;
}

/* Limit text to 2 lines */
.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-primary {
  color: var(--link-color);
  cursor: pointer;
}

.link-primary:hover {
  color: var(--link-hover-color);
}

/* Styles for dropdown selectors */
select {
  color: var(--text-color);
  background-color: rgb(240, 240, 240);
  border: 1px solid var(--secondary-border-color);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  box-shadow: var(--box-shadow);
}

select:focus,
input:focus {
  outline: 2px solid var(--focus-outline-color);
}
